.btn {
    width: 170px;
    height: 53px;
    border-radius: 3px;
    box-shadow: inset 0px -3px 0 0 #736357;
    background-color: #998675;
    border: none;
    outline: none !important;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 800;
    line-height: 1;
    color: #ffffff;
    &:hover {
        background-color: #c2a891;
    }
}